div {
    border: 1px solid black
}

.container {
    min-height: 400px;
    display: flex;
    justify-content: space-around;
}

.sidebar {
    width: 200px;
}

.main {
    text-align: center;
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    width: 600px;
}

.selected {
    font-weight: bold;
}

li {
    margin-bottom: 10px;
}

input, button {
    margin: 0 auto;
    width: 30%;
    margin-bottom: 10px;
    height: 40px;
    border-radius: 2%;
}

button, li {
    cursor: pointer;
    transition-duration: 0.5s;
}

button, li:hover {
    transform: scale(1.05);
}